body{
margin: 0;
padding: 0;
width: 100%;
}
h1 {
font-family:"Cambria";
font-weight:normal;
font-size: 75px;
text-align: center;
color: white;
margin: 0;
padding: 0;
}
h2 {
font-family:"Cambria";
font-weight: normal;
font-size: 60px;
text-shadow: 2px 2px black;
text-align: center;
color: gray;
margin: 0;
padding: 0;
}
h3 {
font-family: Eras Demi ITC;
font-weight: normal;
font-size: 40px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}




#header {
width: 100%;
background-color: black;
height: 90px;
position: fixed;
margin-top: 30px;
}
#nav { width: 410px; float: right; margin-top: 20px; }

#logo  { 
color: white; 
text-decoration: none; 
float: left; 
font-size: 60px; 
margin-top: 20px; 
color: white; 
font-family: Kunstler Script;
font-weight: bold; 
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.nav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.nav li:not(:first-child) {display: none;}
  ul.nav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.nav.responsive {position: relative;}
  ul.nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.nav.responsive li {
    float: none;
    display: inline;
  }
  ul.nav.responsive li a {
    display: block;
    text-align: left;
  }
}



#nav ul{
list-style: none;
display: inline;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 9px;
float: left;
padding-left: 6px;
}
#nav li a { color: white; opacity:0.6; font-size: 20px; text-decoration: none; font-family: 'Wellfleet'; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1; }










.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }


#slide1, #slide2{ width: 100%; }


#slide1{
background:url('../images/keyboard.png') 50% 0 no-repeat fixed;
width: 100%;
color: #fff;
height: 400px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#slide2{
background-color: #fff;
color: #333333;
height: 200px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
display: flex;
text-align: right;
}

#mypic {
 margin-left: -60px;
}

#slide3{
background: url(../images/dev.jpg) 50% 0 no-repeat fixed;
color: #fff;
height: 450px;
padding: 170px 0 0 0;
background-size: cover;
}
#slide4{
background-color: #fff;
color: #333333;
height: 300px;
padding: 200px 0;
}
#slide5{
background: url(../images/contact.png) 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}


.socialmedia {
  margin-bottom: 160px;
}
article {
  text-align: center;

}
img {
  display: inline;
  padding: 10px;
  margin-top: 50px;
}


footer{
	background-color:black;
	color: white;
	text-align: center;
	padding: 5px;
	position:relative;
	bottom:0px;
	width: 100%;